
h1 {
  letter-spacing: 2px;
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;

}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #eef1f5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('montañas.jpg');
}



#formConvertidor {
  width: 90%;
  max-width: 420px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: transform 0.3s ease;


    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 30px;
    color: #fff; 
}





#formConvertidor:hover {
transform: translateY(-2px);}

.inputNumber {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
}

#divBTN {
  display: flex;
  gap: 12px;
}

button {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.03);
}

@media (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  #formConvertidor {
    padding: 25px 20px;
  }

  #divBTN {
    flex-direction: column;
  }

  button {
    width: 100%;
  }
}

